h1{
  text-align: center;
  font-size: 30px;
}
.jumbotron{
  margin-left: 300px;
  margin-right: 300px;

}
#game{
  padding: 5px 14px;
  margin-left: 400px;
  margin-right: 250px;
}
td{
  height: 100px;
  width: 65px;
  text-align: center;
  border: 1.75px solid red;
  font-size:25px
}
#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9{
  width: 100px;
  height: 52px;
  border: 1.75px solid lime;
  font-size: 30px;
  text-align: center;

}
#print{
  text-align: center;
  font-size: large;
  margin-right: 120px;
}
.main{
  margin-left: 580px;
}

#Sc1,#Sc2,#Sc3,#Sc4{
  font-size: medium;
  width: 100px;
  height: 52px;
 
}
.points{
  margin-left: 635px;
  margin-top: 40px;
}
#gamer{
  padding: 5px 14px;
  margin-left: 400px;
  margin-right: 250px;
}
#table_1{
  width: 50px;
}